<main>
    <html>
    <head>
     </head>
    <body>
        <div>@ViewBag.jsonPayloadTitle</div>
        <div>Get Status Header</div>
        <div>transacitonID:a657fe097c094f0199dec3a1980a170e</div>
        <div>Authorization Header:</div>
        <div>@ViewBag.AuthHeader</div>
        <div></div>
        <div></div>
        <div></div>
    <div>Init Payment:</div>
    <div></div>

        <div id="amex-paywithbank"></div>
        <script>
            var amex_paywithbank_init = {
                "merchant_id": "amex_test_5e3197d87d434bb0b25b93f82f0f567c",
                "locale": "en_GB",
                "country_code": "GB",
                "request_id": "r27822dd6eff4c7dab4ee650035e91ac",
                /**/
                "order_details":"@ViewBag.JWSData"// JWE Payload
            /**/
        }
        </script>
        <script src="https://icm.aexp-static.com/Internet/IMDC/paywithbank/v2/js/pwb.js" />


    </body>
    </html>
</main>